name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy-backend:
    runs-on: ubuntu-latest
    env:
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: railway/deploy-action@v2
        with:
          service: "e534cadd-4425-4f3c-9374-5b30373b6ff1"

  deploy-workers:
    runs-on: ubuntu-latest
    needs: deploy-backend
    env:
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: railway/deploy-action@v2
        with:
          service: "448a2e6d-f4b8-4158-a3fe-68ab8bb2908f"

  deploy-frontend:
    runs-on: ubuntu-latest
    needs: deploy-backend
    env:
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: railway/deploy-action@v2
        with:
          service: "fae8ec68-9e28-4c95-97ed-1a09f74f1f96"
